.card{
    border-radius:40;
    display:flex;

}

 *{
     background-color: #e1e3c9 ;
 }

.pancake{
    width: 30%;
    margin:10px;

}

@font-face {
    font-family:'titlefont';
    src: url('../assets/IndiaSyle.ttf');
}

.title{
    font-family: 'titlefont';
    font-size: 60px;
    color: #5c513d;
}

.words{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5c513d;
}